.loading {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  .spinner {
    font-size: 2rem;
    animation: animateSpinner 4s infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes animateSpinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
