.container {
  display: flex;
  flex-direction: column;
  background-color: rebeccapurple;
}

.containerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.containerPages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40px;
}
